{% extends 'base.html.twig' %}

{% block body %}
    {# проходим по всем сообщениям в сессии #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {# после вывода этого сообщения оно пропадет из сесси #}
            {# но если его не вывести оно так и будет здесь хранится #}
            {{ message }}
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href={{ path('micro_post_add') }}>Add new post</a>
    </small>
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    {% for post in posts %}
        {{ include('micro-post/raw-post.html.twig', { 'post': post}) }}
        <small class="d-block text-right mt-3">
            {% if is_granted('edit', post) %}
            <a href={{ path('micro_post_edit', { 'id': post.id }) }}>Edit {{ post.id }} post</a>
            {% endif %}
            {% if is_granted('delete', post) %}
            <a href={{ path('micro_post_delete', { 'id': post.id }) }}>Delete {{ post.id }} post</a>
            {% endif %}
        </small>
    {% endfor %}
{% endblock %}