{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Hello! {% endblock %}

{% block body %}

    <h1> Cart action for items Item/cart.html.twig </h1>
    <hr>

    {% for flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-success">
                {{ flash}}
            </div>
        {% endfor %}
    {% endfor %}

    {% if items is defined %}
        {% for item in items %}
            <p>
            <h5>{{ item.0.id }}</h5>
            <h2>{{ item.0.name }}</h2>
            <h4><b>{{ item.0.price }}</b> - product price </h4>

            <form action="{{ path('item_change') }}" method="post">
                <input type="hidden" name="item_id" value="{{ item.0.id }}">
                <label for="amount"> You ordered = </label>
                <input type="number" name="amount" placeholder="0" value="{{ item.1 }}">
                <button type="submit" name="change" class="btn btn-danger">Change/Delete (select 0)</button>
            </form>
            </p>
            <hr>
        {% endfor %}
        {#<a href="{{ path('sale')}}" class="btn btn-success">Chekout</a>#}
        {#<a href="{{ path('item_list') }}" class="btn btn-info">Continue shopping</a>#}
    {% endif %}

{% endblock %}