{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Item! {% endblock %}

{% block body %}

    {#<h1> Edit action for items Item/edit.html.twig </h1>#}
    <hr>
    <h2> {{ item.name }} </h2>
    <h3> {{ item.content | raw }} </h3> {#raw для не экранирования спецсимволов#}

    {#{{ form(form) }} #}{#form(form) get data from ItemType#}

    {{ form_start(form) }}
        {#<div>#}
            {#{{ form_label(form.name) }}#}
            {#{{ form_errors(form.name) }}#}
            {#{{ form_widget(form.name) }}#}
        {#</div>#}
        {{ form_widget(form) }} {#print form#}
        <button class="btn btn-success">Save</button>
    {{ form_end(form) }}

    {#{{ dump(item) }}#}

{% endblock %}