{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Item! {% endblock %}

{% block body %}

    <h1> Item list Item/index.html.twig </h1>
    <hr>
    {% for item in items %}
        <h3><a href="{{ path('item_page', {id : item.id}) }}"> {{ item.name }} </a></h3>
        {{ item.id }}
        {{ item.price }}
        {{ item.content }}
        
    {% endfor %}

{% endblock %}


