{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Item! {% endblock %}

{% block body %}

    <h1> Item list Item/index.html.twig </h1>
    <hr>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
        <a href="{{ path('item_add') }}" class="btn btn-info">Add item</a>
    {% endif %}
    <hr>
    {% for item in items %}
        <h3><a href="{{ path('item_page', {id : item.id}) }}"> {{ item.name }} </a></h3>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
            <a href="{{ path('item_edit', {id : item.id}) }}" class="btn btn-info">Edit item</a>
        {% endif %}
        {{ item.id }}
        {{ item.price }}
        {{ item.content }}

    {% endfor %}

{% endblock %}


