{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Item! {% endblock %}

{% block body %}

    {#<h1> Item list Item/index.html.twig </h1>#}
    <hr>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
        <a href="{{ path('item_add') }}" class="btn btn-success">Add item</a>
    {% endif %}
    <hr>
    {% for item in items %}
        <h3><a href="{{ path('item_page', {id : item.id}) }}"> {{ item.name }} </a></h3>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
            <a href="{{ path('item_edit', {id : item.id}) }}" class="btn btn-info">Edit item</a>
        {% endif %}
        {#{{ item.id }}#}
        <h4>{{ item.price }}</h4>
        {{ item.content }}

        <form action="{{ path('item_cart') }}" method="post">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <label for="amount">Amount</label>
            <input type="number" name="amount" placeholder="0">
            <button type="submit" name="buy" class="btn btn-app">Buy</button>
        </form>

    {% endfor %}

{% endblock %}


